.navbar-lewagon {
  justify-content: space-between;
  background: #ebecf0;
  border-bottom: 1px solid #b2b2b2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
